body {
    margin : 0;
    height : 100%;
}

table {
    border-style: hidden;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width : 100%;
    height: 95vh;
    empty-cells: show;
    font-size: 10vmax;
    font-family: fantasy;
  }

td {
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    width: calc(100%/3);
    height: calc(100%/3);
}

.centerUp {
    height: 5vh;
    text-align: center;
}

.centerLeft {
    position: fixed;
    text-align: left;
}

a:link {
    color: #2c2c54;
    text-decoration: none;
  }
  
  a:visited {
    color: #227093;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }