body {
    margin : 0;
    height : 100%;
}

table {
    border-style: hidden;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width : 100%;
    height: 95vh;
    empty-cells: show;
  }

td {
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    width: calc(100%/3);
    height: calc(100%/3);
}

.centerUp {
    height: 5vh;
    text-align: center;
}

.centerLeft {
    position: fixed;
    text-align: left;
}